::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
	background-color: #fff;
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body {
	margin: 0 15px 0 15px;
}

p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

#container {
	margin: 10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
}

/**
	This is the styling for the background container
 */
#bgcontainer {
	 background-image: url("../images/inventory.png");
	 background-size: auto;
	 width: 600px;
	 height: 400px;
	 top: 50%;
	 left: 20%;
	 background-repeat: no-repeat;
	 position: relative;
}

/**
	This is the styling for the weapon container
 */
#weaponContainer {
	position: absolute;
	left : 28px;
	top : 35px;
	width : 100px;
	height: 200px;
}

/**
	This is the styling for the gloves container
 */
#glovesContainer {
	position: absolute;
	left : 105px;
	top : 255px;
	width: 100px;
	height: 100px;
}

/**
	This is the styling for the shield container
 */
#shieldContainer {
	position: absolute;
	left : 440px;
	top : 35px;
	width : 100px;
	height: 200px;
}

/**
	This is the styling for the boots container
 */
#bootsContainer {
	position: absolute;
	left : 365px;
	top : 255px;
	width: 100px;
	height: 100px;
}

/**
	This is the styling for the helmet container
 */
#helmatContainer {
	position: absolute;
	left : 235px;
	top : 20px;
	width: 100px;
	height: 100px;
}

/**
	This is the styling for the chest container
 */
#chestContainer {
    position: absolute;
    left: 235px;
    top: 140px;
    width: 100px;
    height: 150px;
}
  
.footer {
position: absolute;
left: 0;
bottom: 0;
height: 50px;
width: 100%;
overflow:hidden;
}
